// ? Font 
@font-face {
  font-family: 'Harry P';
  src: url(/src/assets/fonts/HARRYP__.TTF)
}

// ? Reassign any bulma variables
$family-sans-serif: 'Harry P', sans-serif;

// ? Import bulma -- all
@import '~bulma/bulma.sass';

nav.navbar.is-dark {
  background: rebeccapurple;
  -webkit-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px -12px rgba(0,0,0,0.5);
  .navimg {
    margin-right: 6px;
  }
  .navtext {
    font-size: 25px;
  }
}

.hero-body {

  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  background-color: darkslateblue;
  p.title.is-1.has-text-centered{
    color: gold;
  }
.Button {
    display: flex;
    justify-content: center;
}
}

.hometitle {
  font-size: 70px;
  color: gold;
  text-align: center;
  text-shadow:1px 1px 30px yellow, 1px 1px 10px #ccc;
}


div.container {
  font-size: 20px;
}

p {
    display: flex;
    justify-content: center;
}

.homemsg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: gold;
  font-size: 30px;
  text-shadow:1px 1px 10px yellow, 1px 1px 10px #ccc;
}

.startquizbutton {
    background-color: slateblue;
    border-color: gold;
    color: gold;
    font-size: 20px;
    box-shadow: 0px 8px 5px rgba(216, 225, 117, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .startquizbutton:hover {
    background-color: gold;
    box-shadow: 0px 15px 20px rgba(249, 229, 78, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.Decision-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Next-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.options {
  display: flex;
  justify-content: space-evenly;
}


p.error.title.is-1.has-text-centered {
  color: gold;
}
.errorpixie {
  display: flex;
  justify-content: center;
}


.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  font-size: 100px;
  color: gold;
  text-shadow:1px 1px 30px yellow, 1px 1px 10px #ccc;
  letter-spacing: 3px;

}

.options {
  display: flex;
  justify-content: center;
  padding: 50px;
  button {
    margin: 10px;
    font-size: 30px;
    background-color: darkcyan;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 150px;
    }
  
  button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

.questions {
  font-size: 50px;
  margin: 30px;
  color: thistle;
}

a.Result {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
}

// .result div.options {
//   display: none;
// }

.seeresult {
  display: flex;
  justify-content: center;
  padding: 20px;
    margin: 10px;
    font-size: 30px;
    background-color: darkcyan;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    .options {
      display: none;
    }
    }
  
  .seeresult:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .demiguise {
    margin-top: 12px;
  }
  .resultmessage {
    font-size: 80px;
  }
  .houseinfo{
    white-space: pre-wrap;
    font-size: 30px;
    text-align: center;
  }

html {
  background-color: indigo;
}