// ? Font 
@font-face {
  font-family: 'Harry P';
  src: url(/src/assets/fonts/HARRYP__.TTF)
}

// ? Reassign any bulma variables
$family-sans-serif: 'Harry P', sans-serif;

// ? Import bulma -- all
@import '~bulma/bulma.sass';

nav.navbar.is-dark {
  background: rebeccapurple;
}

.hero-body {

  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  background-color: slateblue;
  p.title.is-1.has-text-centered{
    color: gold;
  }
.Button {
    display: flex;
    justify-content: center;
}
}

.hometitle {
  font-size: 70px;
  color: gold;
  text-align: center;
  text-shadow:1px 1px 10px yellow, 1px 1px 10px #ccc;
}


div.container {
  font-size: 20px;
}

p {
    display: flex;
    justify-content: center;
}

.homemsg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: gold;
  font-size: 30px;
  text-shadow:1px 1px 10px yellow, 1px 1px 10px #ccc;
}

.homebutton {
    background-color: slateblue;
    border-color: gold;
    color: gold;
}

.Decision-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Next-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.options {
  display: flex;
  justify-content: space-evenly;
}



.errorpixie {
  display: flex;
  justify-content: center;
}


.result {
  display: flex;
  justify-content: center;
  margin: 150px;
  font-size: 100px;

}

.options {
  display: flex;
  justify-content: center;
  padding: 50px;
  button {
    font-size: 30px;
    border: outset;
    background-color: darkcyan;
  }
}

.questions {
  font-size: 50px;
  margin: 30px
}

a.Result {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 50px;
}

.result div.options {
  display: none;
}

html {
  background-color: lightsteelblue;
}